%arrow {
    display: inline-block;
    width: 31px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    box-sizing: initial;
    font-size: 45px;
    transition: all .3s;
}
.arrow-down {
    @extend %arrow;
    // background: url(~@/assets/img/arrow_down.png) no-repeat center center;
    // background-size: cover;
    transform: rotate(224deg);
}

.arrow-up {
    @extend %arrow;
    // background: url(~@/assets/img/arrow_up.png) no-repeat center center;
    // background-size: cover;
    transform: rotate(90deg);
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #D8D8D8;
    font-size: 35px;
}

input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #D8D8D8;
    font-size: 35px;
}

input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Mozilla Firefox 19+ */
    color: #D8D8D8;
    font-size: 35px;
}

input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* Internet Explorer 10+ */
    color: #D8D8D8;
    font-size: 35px;
}
