@mixin fontSL ($size: 14px, $lineHeight: 20px) {
    font-size: $size;
    line-height: $lineHeight;
}

%largeTxt {
    font-size: 80px;
    line-height: 112px;
    color: #000;
    font-weight: 500;
}

%largeMobileTxt {
    font-size: 80px;
    line-height: 112px;
    color: #000;
    font-weight: 500;
}

@mixin ani($time: .3s, $size:20px) {
    transition: all $time;
    transform: translateY($size);
    opacity: 0;
}

%show {
    transform: translateY(0) !important;
    opacity: 1 !important;
}