.mobile {
    .about-us-box {
        display: block;
        &.type2 {
            .text {
                margin: 0;
                .desc {
                    width: auto;
                    @include fontSL(30px, 52px);
                }
            }
        }
        .num {
            display: inline-block;
            width: 116px;
            margin-top: 100px;
            text-align: center;
            &.num1 {
                margin-left: 29px;
            }
            &.num2 {
                margin-left: 164px;
            }
            img {
                margin: 0 auto;
            }
            .txt {
                @include fontSL(26px, 37px);
            }
        }
    }
    .about-us-txt {
        width: fit-content;
        margin-top: 98px;
        padding-bottom: 6px;
        border-bottom: 1px solid #333;
        font-weight: 500;
        @include fontSL(32px, 45px);
    }
}