@import '~@/assets/style/reset.css';
@import '~@/assets/style/common.scss';

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #D8D8D8;
    font-size: 14px;
}

input:-moz-placeholder, textarea::-webkit-input-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #D8D8D8;
    font-size: 14px;
}

input::-moz-placeholder, textarea::-webkit-input-placeholder { /* Mozilla Firefox 19+ */
    color: #D8D8D8;
    font-size: 14px;
}

input:-ms-input-placeholder, textarea::-webkit-input-placeholder { /* Internet Explorer 10+ */
    color: #D8D8D8;
    font-size: 14px;
}

.title-r {
    display: flex;
    font-size: 14px;
    &>div {
        display: flex;
        align-items: center;
        margin-right: 10px;
        span {
            word-break: keep-all;
        }
    }
    .input {
        width: 160px;
    }
    .select {
        width: 120px;
    }
}

.dialog-c {
    .item {
        display: flex;
        align-items: center;
        &:not(:first-child) {
            margin-top: 30px;
        }
        .title {
            width: 30%;
            text-align: right;
            font-size: 15px;
            color: #B0B0B0;
        }
        .value {
            max-width: 70%;
        }
        &.item-t {
            align-items: flex-start;
        }
    }
}

.title-box {
    height: 69px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F0F0F0;
}